<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../CSS/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../../CSS/table.css"/>
    <script type="text/javascript" src="../../JavaScript/jquery.min.js"></script>
    <script type="text/javascript" src="../../JavaScript/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../JavaScript/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../JavaScript/easyui-validatebox-extend.js"></script>
    <script type="text/javascript" src="../../..//Helper/CommonHelper.js"></script>
    <script type="text/javascript" src="MaterialClassSettingAll.js"></script>
</head>
<body class="easyui-layout">
<div style="position:absolute;height:100%;width:100%;margin-top: 0px">
    <table id="MaterialClass" class="easyui-datagrid" style="margin: 0px">
    </table>
    <div id="tb" style="padding: 5px; height: auto">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-back',plain:true" onclick="lastLevel()">上一级</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-next',plain:true" onclick="nextLevel()">下一级</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="showAddDialog()">添加</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="showEditDialog()">修改</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="deleteMaterialClass()">删除</a>
    </div>
</div>
<div>
    <!--弹出操作框-->
    <div id="dlg" class="easyui-dialog" style="width: 400px; height: auto; padding: 10px 20px"
         data-options="closed:true,buttons:'#dlg-buttons',striped:true,fitColumns:true">
        <form id="fm" method="post">
            <table padding="5">
                <tr>
                    <td style="text-align-last: justify"><label>物资类别编号:</label></td>
                    <td><input id="materialClassId" type="text" name="materialClassId" class="easyui-textbox" data-options="required:true,prompt:'请输入两位编号'"
                               validtype="length[2,2]" missingMessage="物资类别编号不能为空!" invalidMessage="请输入2位数"/></td>
                </tr>
                <tr>
                    <td style="text-align-last: justify"><label>物资类别名称:</label></td>
                    <td><input id="materialClassName" type="text" name="materialClassName" class="easyui-textbox"
                               data-options=" required:false" /></td>
                </tr>
                <tr>
                    <td style="text-align-last: justify"><label>级次:</label></td>
                    <td><input id="materialClassLevel" type="text" name="materialClassLevel" class="easyui-textbox"
                               data-options=" required:false" />
                    </td>
                    <td><input id="function" name="function" type="hidden"></td><!--通过该input获取当前的操作是添加还是修改-->
                </tr>
            </table>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" type="submit" data-options="iconCls:'icon-ok'" onclick="saveData()">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#dlg').dialog('close')">关闭</a>
    </div>
</div>



</body>
</html>