<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../CSS/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/table.css" />
    <script type="text/javascript" src="../JavaScript/jquery.min.js"></script>
    <script type="text/javascript" src="../JavaScript/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../JavaScript/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../JavaScript/easyui-validatebox-extend.js"></script>
    <script type="text/javascript" src="MaterialcategorySetting.js"></script>
</head>
<body class="easyui-layout">
<div style="position:absolute;height:100%;width:100%;">
    <a style="color: #0E2D5F; font-family: 楷体; font-size: 15px;">温馨提示：物资类别是六位数字，分为三级，每一级别占用两位数字，这里是一级物资类别，只需手工输入前两位，后四位自动补0</a>
    <table id="grid"  class="easyui-datagrid"  style="position:relative;width: 100%; height: 100%;"
           idfield="itemid" pagination="false" data-options="iconCls:'icon-save',rownumbers:true,pageSize:5, pageList:[5,10,15,20],method:'get',toolbar:'#tb',striped:true" fitcolumns="true">
    </table>
    <div id="tb" style="padding: 5px; height: auto">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="Add()">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="Edit()">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="Remove()">删除</a>
        <a href="#" id="uper" class="easyui-linkbutton" iconCls="icon-back" onclick="UperLevel()">上级</a>
        <a href="#" id="next" class="easyui-linkbutton" iconCls="icon-next" onclick="NextLevel();">下级</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width: 400px; height: auto; padding: 10px 20px"
     data-options="closed:true,buttons:'#dlg-buttons'">
    <form id="fm" method="post">
        <table padding="5">
            <tr>
                <td><label>物资类别编号：</label></td>
                <td><input id="MaterialCode" name="MaterialCode" class="easyui-validatebox" data-options="required:true"/></td>
                <td><span id="CodeAlert"/></td>
            </tr>
            <tr>
                <td><label>物资类别名称：</label></td>
                <td><input id="MaterialName" name="MaterialName" class="easyui-validatebox" data-options="required:true"/></td>
            </tr>
            <tr>
                <td><label>物资类别级数：</label></td>
                <td><input id="MaterialSeries" name="MaterialSeries" class="easyui-validatebox" data-options="required:true"/></td>
            </tr>
        </table>
    </form>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="saveData()">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#dlg').dialog('close')">关闭</a>
    </div>
</div>
<p id="text" hidden></p>
</body>
</html>